@font-face {
    font-family: "Roboto";
    src: url("@font/Roboto-BlackItalic.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("@font/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}
  
@font-face {
    font-family: "Roboto";
    src: url("~@font/Roboto-Me.otf");
    font-style: normal;
    font-weight: bold;
}
  
@font-face {
    font-family: "Bai Jamjuree";
    src: url("~@font/BaiJamjuree-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
  
@font-face {
    font-family: "Bai Jamjuree";
    src: url("~@font/BaiJamjuree-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
  
@font-face {
    font-family: "Bai Jamjuree";
    src: url("~@font/BaiJamjuree-Bold.ttf");
    font-style: normal;
    font-weight: 500;
}
  